:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
button {
  cursor: pointer;
}

menu,
ol,
ul {
  list-style: none;
}

video {
  -webkit-filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
  filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
  outline: none;
  border: none;
}

video:focus-visible {
  outline: none;
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1300px) {
  html {
    font-size: 0.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 1.3333333333vw;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  color: #2E2E2E;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.03rem;
}

a,
picture {
  display: block;
}

.l-wrapper {
  overflow: hidden;
}

.l-wrapper iframe,
.l-wrapper img,
.l-wrapper picture,
.l-wrapper svg,
.l-wrapper video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.l-container {
  width: 90%;
  max-width: 120rem;
  margin-inline: auto;
}

.c-credit {
  margin-top: 4rem;
  width: 33.6rem;
}
@media screen and (max-width: 767px) {
  .c-credit {
    margin-top: 7rem;
    width: calc(90vw - 5%);
  }
}
.c-credit__title {
  position: relative;
  padding-bottom: 0.6rem;
  color: #E9DBAC;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .c-credit__title {
    font-size: 2.4rem;
    margin-bottom: -2rem;
  }
}
.c-credit__titleImage--main {
  width: 6.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__titleImage--main {
    width: 12.4rem;
  }
}
.c-credit__titleImage--coordinate {
  width: 9.1rem;
}
@media screen and (max-width: 767px) {
  .c-credit__titleImage--coordinate {
    width: 18.2rem;
  }
}
.c-credit__coordinate {
  margin-top: 2.7rem;
}
@media screen and (max-width: 767px) {
  .c-credit__coordinate {
    margin-top: 5.8rem;
  }
}
.c-credit__content {
  margin-top: 1.2rem;
}
.c-credit__content + .c-credit__content._2gyo {
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .c-credit__content + .c-credit__content._2gyo {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .c-credit__content {
    margin-top: 3rem;
  }
}
.c-credit__sizeTitle {
  width: fit-content;
  margin-top: 1.4rem;
  margin-bottom: 0.8rem;
  padding: 0.4rem;
  border: 1px solid #E9DBAC;
  border-radius: 10rem;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .c-credit__sizeTitle {
    margin-top: 2.8rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem;
  }
}
.c-credit__sizeTitle small {
  display: block;
  color: #E9DBAC;
  font-size: max(1rem, 10px);
  font-weight: 500;
  text-indent: 0.1em;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
@media screen and (max-width: 767px) {
  .c-credit__sizeTitle small {
    font-size: max(2rem, 10px);
  }
}
.c-credit__list {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-top: 1.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__list {
    row-gap: 2.4rem;
    margin-top: 2.4rem;
  }
}
@media screen and (min-width: 768px) {
  .c-credit__main.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
.c-credit__item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 33.6rem;
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  .c-credit__item {
    width: 100%;
    margin-top: 2rem;
  }
}
.c-credit__nameWrap {
  width: calc(100% - 22rem);
  font-size: max(1.4rem, 10px);
  line-height: 1.4285714286;
}
@media screen and (max-width: 767px) {
  .c-credit__nameWrap {
    width: 24rem;
  }
}
.c-credit__nameWrap .c-credit__name {
  font-size: 1.2rem;
}
@media screen and (max-width: 767px) {
  .c-credit__nameWrap .c-credit__name {
    font-size: 3.2vw;
  }
}
.c-credit__nameWrap .c-credit__price {
  font-family: "EB Garamond", serif;
  font-size: 1.6rem;
}
@media screen and (max-width: 767px) {
  .c-credit__nameWrap .c-credit__price {
    font-size: 3.477777777vw;
  }
}
.c-credit__nameWrap .c-credit__price small {
  display: inline-block;
  vertical-align: baseline;
  font-size: 0.9rem;
  font-family: "Noto Serif JP", serif;
}
@media screen and (max-width: 767px) {
  .c-credit__nameWrap .c-credit__price small {
    font-size: 2.666666667vw;
  }
}
.c-credit__accordionButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  margin-top: 1.9rem;
  border: 1px solid #D9D9D9;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  letter-spacing: 0.04em;
  border-radius: 50px;
}
.c-credit__accordionButton:before {
  content: "MORE";
}
.c-credit__accordionButton.is-open:before {
  content: "CLOSE";
}
@media screen and (min-width: 768px) {
  .c-credit__accordionButton {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .c-credit__accordionContent {
    display: none;
  }
}
.c-credit__buttonWrap {
  display: flex;
  column-gap: 0.5rem;
  width: 22rem;
}
@media screen and (max-width: 767px) {
  .c-credit__buttonWrap {
    width: calc(100% - 24rem);
    column-gap: 1rem;
  }
}
.c-credit__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background: #E9DBAC;
}
@media screen and (max-width: 767px) {
  .c-credit__button {
    height: 6rem;
  }
}
.c-credit__buttonText {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  transform: translateX(1rem);
  transition: transform 0.5s;
}
@media screen and (max-width: 767px) {
  .c-credit__buttonText {
    font-size: 3.733333333vw;
    transform: translateX(2rem);
  }
}
.c-credit__buttonArrow {
  position: relative;
  top: -0.5rem;
  overflow: hidden;
  width: 2rem;
  opacity: 0;
  transition: 0.5s;
}
@media screen and (max-width: 767px) {
  .c-credit__buttonArrow {
    width: 4rem;
  }
}
.c-credit__button:hover .c-credit__buttonText {
  transform: translateX(0);
}
.c-credit__button:hover .c-credit__buttonArrow {
  opacity: 1;
  margin-left: 1rem;
}

.js-scrollAnimation--fadeIn {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
}
.js-scrollAnimation--fadeIn.is-active {
  opacity: 1;
}
.js-scrollAnimation--fadeIn.is-active li {
  opacity: 1;
  transform: translateY(0);
}
.js-scrollAnimation--fadeIn.is-active li p {
  opacity: 1;
  transform: translateY(0);
}
.js-scrollAnimation--fadeInUp {
  opacity: 0;
  transform: translateY(40px);
  transition-duration: 1s;
  transition-property: opacity, transform;
}
.js-scrollAnimation--fadeInUp.is-active {
  opacity: 1 !important;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.js-scrollAnimation--fadeIn li {
  opacity: 0;
  transform: translateY(40px);
  transition-duration: 1s;
  transition-property: opacity, transform;
}
.js-scrollAnimation--fadeIn li p {
  opacity: 0;
  transform: translateY(20px);
  transition-duration: 1s;
  transition-property: opacity, transform;
}
.js-scrollAnimation--fadeIn li:nth-child(1) {
  transition-delay: 0.2s;
}
.js-scrollAnimation--fadeIn li:nth-child(2) {
  transition-delay: 0.3s;
}
.js-scrollAnimation--fadeIn li:nth-child(3) {
  transition-delay: 0.4s;
}
.js-scrollAnimation--fadeIn li:nth-child(4) {
  transition-delay: 0.5s;
}
.js-scrollAnimation--fadeIn li:nth-child(5) {
  transition-delay: 0.6s;
}
.js-scrollAnimation--fadeIn li:nth-child(6) {
  transition-delay: 0.7s;
}
.js-scrollAnimation--fadeIn li:nth-child(7) {
  transition-delay: 0.8s;
}
.js-scrollAnimation--fadeIn li:nth-child(8) {
  transition-delay: 0.8s;
}
.js-scrollAnimation--fadeIn li:nth-child(9) {
  transition-delay: 0.9s;
}
.js-scrollAnimation--fadeIn li a {
  transition: 0.5s;
}
.js-scrollAnimation--fadeIn li a:hover {
  opacity: 0.7;
}
.js-scrollAnimation--zoomImage {
  opacity: 0;
  overflow: hidden;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.js-scrollAnimation--zoomImage.is-active {
  opacity: 1;
}
.js-scrollAnimation--zoomImage.is-active img {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.js-scrollAnimation--zoomImage img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  transition-property: transform;
}

.p-sns {
  padding-bottom: 4.8rem;
}
@media screen and (max-width: 767px) {
  .p-sns {
    margin-top: -5vw;
    padding-top: 0;
    padding-bottom: 6.4rem;
  }
}
.p-sns__attention {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8181818182;
  font-family: "EB Garamond", serif;
  margin-top: 10rem;
}
@media screen and (max-width: 767px) {
  .p-sns__attention {
    font-size: 3.2vw;
    text-align: left;
    margin-top: 12rem;
  }
}
.p-sns .store_name {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  margin-top: 10rem;
}
@media screen and (max-width: 767px) {
  .p-sns .store_name {
    font-size: 2.666666667vw;
    text-align: left;
    margin-top: 5rem;
    letter-spacing: 0;
  }
}
.p-sns__buttonList {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-sns__buttonList {
    gap: 1.2rem;
    margin-top: 9.6rem;
  }
}
@media screen and (max-width: 767px) {
  .p-sns__buttonList {
    gap: 2.4rem;
    margin-top: 8.5rem;
  }
}
.p-sns__buttonItem {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 10rem;
}
@media screen and (max-width: 767px) {
  .p-sns__buttonItem {
    width: 26.66666667vw;
  }
}
.p-sns__buttonItem:hover {
  opacity: 0.8;
}

.p-footer {
  padding-top: 8rem;
  width: 94%;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .p-footer {
    padding: 11rem 0;
    width: 100%;
  }
}
.p-footer__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.6rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .p-footer__button {
    width: 90%;
    font-size: 0.875rem;
  }
}
.p-footer__buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Noto Serif JP", serif;
  background: #E9DBAC;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.0454545455;
  letter-spacing: 0.12em;
  height: 7.8rem;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonText {
    width: 48rem;
    font-size: 2.8rem;
    line-height: 1.6071428571;
    height: 15.6rem;
  }
}
.p-footer__buttonInstagram {
  width: 18rem;
  margin-left: 5.4rem;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonInstagram {
    width: 30rem;
    margin-left: 0rem;
  }
}
.p-footer__buttonAccount {
  margin-left: 1.5rem;
  font-size: 2rem;
  line-height: 2.25;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .p-footer__buttonAccount {
    margin-left: 0.8rem;
    font-size: 2.8rem;
    line-height: 1.6071428571;
  }
}

.l-footer__inner {
  width: 100%;
  margin: auto;
}
.l-footer__link {
  padding: 14.2222222222rem 0;
  width: 91.2592592593rem;
  margin-inline: auto;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 2.1333333333rem;
  -moz-column-gap: 2.1333333333rem;
  column-gap: 2.1333333333rem;
}
@media screen and (max-width: 767px) {
  .l-footer__link {
    padding: 7.03125rem 3.75rem;
    width: 100%;
    -webkit-column-gap: 2.9296875rem;
    -moz-column-gap: 2.9296875rem;
    column-gap: 2.9296875rem;
  }
}
.l-footer__linkItem {
  margin-top: 2.1333333333rem;
  height: 9.4814814815rem;
  width: calc(50% - 1.7777777778rem);
  position: relative;
}
@media screen and (max-width: 767px) {
  .l-footer__linkItem {
    margin-top: 2.9296875rem;
    height: 12.3046875rem;
    width: 47%;
  }
}
.l-footer__linkItem a {
  padding: 1.8962962963rem 0 2.1333333333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .l-footer__linkItem a {
    -webkit-column-gap: 1.40625rem;
    -moz-column-gap: 1.40625rem;
    column-gap: 1.40625rem;
  }
}
.l-footer__linkbtn {
  background-color: #E9DBAC;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 1.1851851852rem;
  -moz-column-gap: 1.1851851852rem;
  column-gap: 1.1851851852rem;
}
@media screen and (max-width: 767px) {
  .l-footer__linkbtn {
    -webkit-column-gap: 1.40625rem;
    -moz-column-gap: 1.40625rem;
    column-gap: 1.40625rem;
  }
}
.l-footer__linkImage {
  width: 1.8962962963rem;
}
@media screen and (max-width: 767px) {
  .l-footer__linkImage {
    width: 2.8125rem;
  }
}
.l-footer__linkText {
  font-size: 18.962962963px;
  font-size: 1.8962962963rem;
  line-height: 1;
  letter-spacing: 0.1896296296em;
  font-weight: 500;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 767px) {
  .l-footer__linkText {
    font-size: 2.109375rem;
    line-height: 1.3333333333;
    letter-spacing: 0.1640625em;
    letter-spacing: 0;
  }
}
.l-footer__bottom {
  background-color: #E9DBAC;
  padding: 14.2222222222rem 0 9.4814814815rem 0;
}
@media screen and (max-width: 767px) {
  .l-footer__bottom {
    padding: 15.234375rem 0;
  }
}
.l-footer__bottomLogo {
  margin: auto;
  width: 22.5185185185rem;
}
@media screen and (max-width: 767px) {
  .l-footer__bottomLogo {
    width: 32.8125rem;
  }
}
.l-footer__bottomLogo img {
  width: 100%;
}
.l-footer__bottomSns {
  width: 10.6666666667rem;
  margin-top: 7.1111111111rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .l-footer__bottomSns {
    margin-top: 12.890625rem;
    width: 26.953125rem;
  }
}
.l-footer__snsInner {
  width: 2.2518518519rem;
}
@media screen and (max-width: 767px) {
  .l-footer__snsInner {
    width: 4.6875rem;
  }
}
.l-footer__snsInner img {
  width: 2.2518518519rem;
  height: 2.2518518519rem;
}
@media screen and (max-width: 767px) {
  .l-footer__snsInner img {
    width: 4.6875rem;
    height: 4.6875rem;
  }
}
.l-footer__bottomMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 7.1111111111rem;
  -webkit-column-gap: 9.4814814815rem;
  -moz-column-gap: 9.4814814815rem;
  column-gap: 9.4814814815rem;
}
@media screen and (max-width: 767px) {
  .l-footer__bottomMenu {
    margin-top: 9.375rem;
    -webkit-column-gap: 2.34375rem;
    -moz-column-gap: 2.34375rem;
    column-gap: 2.34375rem;
  }
}
.l-footer__menuItem {
  font-family: #b9a0c8;
  font-weight: 600;
  font-size: 16.5925925926px;
  font-size: 1.6592592593rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: "EB Garamond", serif;
}
@media screen and (max-width: 767px) {
  .l-footer__menuItem {
    font-size: 2.666666667vw;
    line-height: 1;
    letter-spacing: 0;
  }
}
.l-footer__companyLogo {
  margin-top: 7.1111111111rem;
  width: 18.962962963rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .l-footer__companyLogo {
    margin-top: 9.375rem;
    width: 24.0234375rem;
  }
}
.l-footer__copyright {
  text-align: center;
  font-weight: 500;
  font-size: 11.8518518519px;
  font-size: 1.1851851852rem;
  line-height: 1.6;
  letter-spacing: 0.1185185185em;
  margin-top: 7.1111111111rem;
}
@media screen and (max-width: 767px) {
  .l-footer__copyright {
    margin-top: 10.546875rem;
    font-size: 18.75px;
    font-size: 1.875rem;
    line-height: 1;
    letter-spacing: 0.1171875em;
  }
}

.footer {
  padding: 0 0 70px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 0 0 70px;
  }
}
.footer__logo {
  width: 17rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 32vw;
    max-width: 150px;
  }
}
.footer .copyright {
  margin-top: 4rem;
  font-size: max(1.1rem, 10px);
  text-align: center;
  line-height: 1;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin-top: 50px;
    font-size: 2rem;
  }
}

.pagetop {
  position: fixed;
  right: 2%;
  bottom: 4%;
  z-index: 100;
  width: 6rem;
  height: 7.7rem;
  transform: translateY(0);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.pagetop:hover {
  transform: translateY(-1.5rem);
}
@media screen and (min-width: 768px) {
  .u-pcNone {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .u-spNone {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.p-allItems {
  padding-bottom: 16rem;
}
.p-allItems__title {
  width: 32.8rem;
  margin-inline: auto;
  margin-bottom: 3rem;
}
@media screen and (max-width: 767px) {
  .p-allItems__title {
    width: 39.2rem;
  }
}
.p-allItems__anchorList {
  width: 95rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .p-allItems__anchorList {
    width: 67.2rem;
    gap: 1.2rem;
  }
}
.p-allItems__anchorList.is-active .p-allItems__anchorItem a .ph {
  scale: 1;
}
.p-allItems__anchorItem {
  transition: transform 0.3s;
  margin: 1.2rem 0 0;
  width: 18.2rem;
  height: 24rem;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .p-allItems__anchorItem {
    width: 21.6rem;
    height: auto;
  }
}
.p-allItems__anchorItem a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-allItems__anchorItem a .ph {
  scale: 1.2;
  transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.4s;
}
.p-allItems__anchorItem a .ico {
  position: absolute;
  width: 14.8rem;
}
@media screen and (max-width: 767px) {
  .p-allItems__anchorItem a .ico {
    width: 17.8rem;
  }
}
.p-allItems__anchorItem:hover {
  transform: translateY(-1.2rem);
}

.p-mv {
  position: relative;
  background: url(../images/mv_bg.jpg) no-repeat right top/33% 100%;
}
@media screen and (max-width: 767px) {
  .p-mv {
    height: 162.666667vw;
    background: url(../images/mv_bg.jpg) no-repeat right top/cover;
  }
}
.p-mv .logo {
  position: absolute;
  width: 15rem;
  margin: 0 auto;
  top: 3rem;
  left: 3rem;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.5s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 1.5s;
}
@media screen and (max-width: 767px) {
  .p-mv .logo {
    width: 18rem;
    right: 3rem;
    left: auto;
  }
}
.p-mv__bgImage {
  width: 77.5%;
  animation: scale 1.5s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (max-width: 767px) {
  .p-mv__bgImage {
    width: 80vw;
  }
}
.p-mv__catchText {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 15%;
  width: 13.689%;
  clip-path: inset(0 0 100% 0);
  animation: slideIn 0.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.8s;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .p-mv__catchText {
    width: 26.66666667vw;
    top: 13vw;
    right: 2vw;
    left: auto;
    transform: translateX(0);
  }
}
.p-mv__ph {
  position: absolute;
  right: 0.2%;
  top: 20%;
  width: 28.33%;
}
@media screen and (max-width: 767px) {
  .p-mv__ph {
    width: 92.26666667vw;
    top: auto;
    bottom: 10vw;
    right: 2vw;
    left: auto;
    transform: translateX(0);
  }
}
.p-mv__ph .ph {
  position: absolute;
  top: 65%;
  width: 74.4%;
  left: 10%;
  opacity: 0;
  animation: fadeIn 0.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 0.8s;
}
@media screen and (max-width: 767px) {
  .p-mv__ph .ph {
    width: 42.66666667vw;
    left: auto;
    right: 0;
    top: 0;
  }
}
.p-mv__ph .txt {
  position: relative;
  z-index: 2;
  opacity: 0;
  transform: translateX(2rem);
  animation: fadeInLeft 0.8s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 1.2s;
}
@media screen and (max-width: 767px) {
  .p-mv__ph .txt {
    width: 61.33333333vw;
    top: 9vw;
  }
}
.p-mv .slideIn {
  will-change: clip-path;
  -webkit-transition: -webkit-clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-clip-path 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-animation: slideIn 0.7s;
  animation: slideIn 0.7s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.p-mv .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn 0.9s 0.9s forwards;
  animation: fadeIn 0.9s 0.9s forwards;
}

@keyframes clippath-top {
  0% {
    opacity: 0;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
  100% {
    opacity: 1;
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideIn {
  0% {
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*------------------------------------------

base

-------------------------------------------*/
.p-styling {
  margin-top: -50px;
  padding-top: 50px;
  margin-inline: auto;
  padding-bottom: 15rem;
}
@media screen and (max-width: 767px) {
  .p-styling {
    margin-top: -8vw;
    padding-top: 8vw;
    padding-bottom: 25.33333333vw;
  }
}

.p-about {
  margin: 9em auto 9rem;
}
.p-about__catch {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  line-height: 1.8;
  letter-spacing: 0;
}
@media screen and (max-width: 767px) {
  .p-about__catch {
    text-align: left;
    font-size: 3.733333333vw;
  }
}
.p-about__banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto 6rem;
}
@media screen and (max-width: 767px) {
  .p-about__banner {
    margin-bottom: 8rem;
  }
}
.p-about__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 20rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
  -webkit-transition: left 1.5s 0.5s, opacity 0.5s 1.5s;
  transition: left 1.5s 0.5s, opacity 0.5s 1.5s;
}
.p-about__banner.is-active::before {
  opacity: 0;
  left: 150%;
}

/*------------------------------------------

other

-------------------------------------------*/
.p-other {
  position: relative;
  width: 84rem;
  margin-inline: auto;
  margin-top: 10rem;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .p-other {
    width: 100%;
    margin-top: 12rem;
  }
}
.p-other__title {
  position: relative;
  padding: 5rem 0;
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #2E2E2E;
  margin-bottom: 6rem;
}
@media screen and (max-width: 767px) {
  .p-other__title {
    width: 53.2rem;
    padding: 6rem 0;
    margin-inline: auto;
  }
}
.p-other__title h3 {
  width: 44.2rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .p-other__title h3 {
    width: 100%;
  }
}
.p-other__contents .ph {
  position: relative;
}
.p-other__contents .ph .txt {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  scale: 1.2;
  opacity: 0;
}
.p-other__contents.is-active .ph .txt {
  opacity: 1;
  scale: 1;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.3s;
}

/*------------------------------------------

title

-------------------------------------------*/
.p-styling__title {
  height: 9.4rem;
  margin-inline: auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-styling__title {
    height: 7.5rem;
  }
}
.p-styling__title_inner {
  position: relative;
  display: inline-block;
  padding: 1rem 6rem;
}
.p-styling__title_inner.is-active::before {
  width: 100%;
}
.p-styling__title_inner::before {
  position: absolute;
  content: "";
  background: #E9DBAC;
  opacity: 0.2;
  width: 0;
  height: 100%;
  left: 1rem;
  top: 1rem;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.8s;
}
.p-styling__title_inner .line01 {
  position: absolute;
  background: #2E2E2E;
  width: 98%;
  height: 3px;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line01 {
    height: 2px;
  }
}
.p-styling__title_inner .line02 {
  position: absolute;
  background: #2E2E2E;
  width: 3px;
  height: 90%;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line02 {
    width: 2px;
  }
}
.p-styling__title_inner .line03 {
  position: absolute;
  background: #2E2E2E;
  width: 98%;
  height: 3px;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line03 {
    height: 2px;
  }
}
.p-styling__title_inner .line04 {
  position: absolute;
  background: #2E2E2E;
  width: 3px;
  height: 90%;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .line04 {
    width: 2px;
  }
}
.p-styling__title_inner .title {
  position: relative;
  font-size: 4.5rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .p-styling__title_inner .title {
    font-size: 3.6rem;
  }
}
/*------------------------------------------

style_contents

-------------------------------------------*/
.p-style_contents .p-styling__icon {
  position: relative;
  width: 23rem;
  pointer-events: none;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 767px) {
  .p-style_contents .p-styling__icon {
    width: 27.2rem;
    margin-bottom: 4rem;
  }
}
.p-style_contents .p-styling__icon .no {
  width: 19.4rem;
  margin-bottom: 2rem;
  opacity: 0;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-style_contents .p-styling__icon .no {
    width: 23rem;
  }
}
.p-style_contents .p-styling__icon .txt {
  width: 100%;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
.p-style_contents .p-styling__icon.is-active .no {
  opacity: 1;
}
.p-style_contents .p-styling__icon.is-active .txt {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.p-style_contents h2 {
  position: relative;
  width: 58.1rem;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-delay: 0.7s;
  margin-bottom: 3rem;
  left: 5rem;
  opacity: 0;
  transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-style_contents h2 {
    width: 69.2rem;
    margin-bottom: 4rem;
  }
}
.p-style_contents h2.is-active {
  left: 0;
  opacity: 1;
}
.p-style_contents + .p-style_contents {
  margin-top: 15rem;
}

.p-styling__group {
  position: relative;
  display: flex;
  column-gap: 6rem;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .p-styling__group {
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    display: block;
  }
}
.p-styling__group .obj {
  position: absolute;
  width: 7rem;
}
@media screen and (max-width: 767px) {
  .p-styling__group .obj {
    width: 5.2rem;
  }
}
.p-styling__group .obj_s {
  width: 5.5rem;
}
@media screen and (max-width: 767px) {
  .p-styling__group .obj_s {
    width: 4.8rem;
  }
}
.p-styling__group__left h2 {
  transform: rotate(-20deg);
}
@media screen and (min-width: 768px) {
  .p-styling__group__left .p-styling__icon {
    right: 39rem;
  }
}
@media screen and (max-width: 1300px) {
  .p-styling__group__left .p-styling__icon {
    right: 32rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__left .p-styling__icon {
    right: -2vw;
    left: auto !important;
  }
}
@media screen and (min-width: 768px) {
  .p-styling__group__left .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__left .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
.p-styling__group__right {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .p-styling__group__right .p-styling__imageWrap {
    position: relative;
    left: 20vw;
  }
}
.p-styling__group__right h2 {
  transform: rotate(20deg);
}
.p-styling__group__right .p-styling__icon {
  left: 39rem;
}
@media screen and (max-width: 1300px) {
  .p-styling__group__right .p-styling__icon {
    left: 32rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__group__right .p-styling__no {
    position: relative;
    left: calc(100% - 15.3rem);
  }
}
.p-styling__group__main {
  width: 63rem;
}
@media screen and (max-width: 767px) {
  .p-styling__group__main {
    position: relative;
    width: 100vw;
    left: -5vw;
  }
}
.p-styling__group__main .p-styling__imageWrap p {
  margin-top: 3rem;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 1.8888888888;
}
@media screen and (max-width: 767px) {
  .p-styling__group__main .p-styling__imageWrap p {
    padding: 0 5%;
    width: 100%;
    font-size: 3.733333333vw;
    box-sizing: border-box;
    margin-top: 4rem;
  }
}
.p-styling__group__sub {
  position: relative;
  width: 50.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling__group__sub {
    width: 100%;
  }
}
.p-styling__group__sub h3 {
  position: absolute;
  -webkit-clip-path: inset(0 0 100% 0);
  clip-path: inset(0 0 100% 0);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.8s;
}
.p-styling__group__sub h3.is-active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling__group__sub .sp_catch {
    padding: 0;
    width: 100%;
    font-size: 3.733333333vw;
    box-sizing: border-box;
    margin-top: 4rem;
    line-height: 1.85714285;
  }
}
.p-styling01 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #F8F6CD;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.5s;
  z-index: -1;
}
.p-styling01 .p-styling__group .obj {
  right: -4rem;
  top: 7rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group .obj {
    right: auto;
    left: 0;
    top: 175.6rem;
  }
}
.p-styling01 .p-styling__group01::before {
  width: calc(49rem + 10%);
  height: 77.5rem;
  right: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group01::before {
    top: 134rem;
    right: auto;
    left: -5vw;
    height: 144rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}
.p-styling01 .p-styling__group01.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling01 .p-styling__group02::before {
  width: calc(108.6rem + 10%);
  height: 46.5rem;
  left: -20rem;
  bottom: 18.5rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group02::before {
    display: none;
  }
}
.p-styling01 .p-styling__group02.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling01 .p-styling__group__sub_r {
  margin-top: 39.3rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_r {
    position: relative;
    margin-top: 8rem;
    left: calc(105% - 60.4rem);
  }
}
.p-styling01 .p-styling__group__sub_r h3 {
  width: 9.5rem;
  left: 3rem;
  top: 4rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_r h3 {
    width: 11.4rem;
    top: 5rem;
    left: 4rem;
  }
}
.p-styling01 .p-styling__group__sub_l {
  margin-top: 9.5rem;
  width: 42.3rem;
  margin-left: 23.8rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_l {
    position: relative;
    margin-top: 31.6rem;
    margin-left: -5vw;
    width: 50.4rem;
  }
}
.p-styling01 .p-styling__group__sub_l h3 {
  width: 7.094rem;
  left: -12.6rem;
  top: 12.1rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_l h3 {
    left: auto;
    right: -15rem;
    width: 8.4rem;
    top: 4rem;
  }
}
.p-styling01 .p-styling__group__sub_s {
  width: 41rem;
  margin-top: 12.2rem;
  margin-left: 5rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_s {
    position: relative;
    margin-top: -96rem;
    margin-left: 0;
  }
}
.p-styling01 .p-styling__group__sub_s p.txt {
  width: 29.9rem;
  margin: 0 0 4.5rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.8s;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_s p.txt {
    position: relative;
    width: 35.6rem;
    left: 20rem;
  }
}
.p-styling01 .p-styling__group__sub_s p.txt.is-active {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling01 .p-styling__group__sub_s .ph {
  width: 32.1rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_s .ph {
    position: relative;
    margin-top: 75.4rem;
    left: 30rem;
  }
}
.p-styling01 .p-styling__group__sub_s .c-credit {
  position: relative;
  left: 2rem;
}
@media screen and (max-width: 767px) {
  .p-styling01 .p-styling__group__sub_s .c-credit {
    left: 0;
  }
}
.p-styling02 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #C9E8E2;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 131.5rem;
  right: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
@media screen and (max-width: 767px) {
  .p-styling02 .p-styling__group::before {
    top: 192.4rem;
    right: auto;
    left: -5vw;
    height: 91.4rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}
.p-styling02 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling02 .p-styling__group .obj {
  left: -3rem;
  top: 12.3rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling02 .p-styling__group .obj {
    left: auto;
    right: 0;
    top: -30.4rem;
  }
}
.p-styling02 .p-styling__group__sub_r {
  margin-top: 39.3rem;
}
@media screen and (max-width: 767px) {
  .p-styling02 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling02 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: calc(106% - 60.4rem);
    width: 60.4rem;
  }
}
.p-styling02 .p-styling__group__sub_r .c-credit {
  position: relative;
  margin-inline: auto;
}
.p-styling02 .p-other {
  position: relative;
}
.p-styling02 .p-other__contents {
  width: 57rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-styling02 .p-other__contents {
    width: 100%;
  }
}
.p-styling02 .p-other__contents .ph_s {
  position: absolute;
  right: -5rem;
  top: -9rem;
  width: 21.2rem;
  opacity: 0;
  transform: rotate(-5deg);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.5s;
}
@media screen and (max-width: 767px) {
  .p-styling02 .p-other__contents .ph_s {
    width: 25.2rem;
    top: -11rem;
  }
}
.p-styling02 .p-other__contents.is-active .ph_s {
  opacity: 1;
  transform: rotate(0);
}
.p-styling03 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #F2CACC;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 109.7rem;
  left: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling03 .p-styling__group::before {
    top: 204.4rem;
    right: -5vw;
    left: auto;
    height: 42.4rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
.p-styling03 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling03 .p-styling__group .obj {
  right: -4rem;
  top: 4rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling03 .p-styling__group .obj {
    top: 155rem;
    right: 0;
    width: 4.4rem;
  }
}
.p-styling03 .p-styling__group__sub_r {
  margin-top: 35.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling03 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling03 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: -5vw;
    width: 60.4rem;
  }
}
.p-styling03 .p-styling__group__sub_r .c-credit {
  position: relative;
  margin-inline: auto;
}
.p-styling04 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #C4E2EB;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 109.7rem;
  right: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
@media screen and (max-width: 767px) {
  .p-styling04 .p-styling__group::before {
    top: 204.4rem;
    right: auto;
    left: -5vw;
    height: 42.4rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}
.p-styling04 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling04 .p-styling__group .obj {
  left: -3.2rem;
  top: 23.2rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling04 .p-styling__group .obj {
    top: 154rem;
    left: 0;
    width: 4.4rem;
  }
}
.p-styling04 .p-styling__group__sub_r {
  margin-top: 35.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling04 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling04 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: calc(105% - 60.4rem);
    width: 60.4rem;
  }
}
.p-styling04 .p-styling__group__sub_r .c-credit {
  position: relative;
  margin-inline: auto;
}
.p-styling05 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #D4CCE0;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 109.7rem;
  left: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling05 .p-styling__group::before {
    top: 165.6rem;
    right: -5vw;
    left: auto;
    height: 69rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
.p-styling05 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling05 .p-styling__group .obj {
  right: -2.5rem;
  top: 6rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling05 .p-styling__group .obj {
    top: 115.2rem;
    right: 0;
  }
}
.p-styling05 .p-styling__group__sub_r {
  margin-top: 35.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling05 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling05 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: -5vw;
    width: 60.4rem;
  }
}
.p-styling05 .p-styling__group__sub_r .c-credit {
  position: relative;
  margin-inline: auto;
}
.p-styling06 .p-styling__group .obj {
  left: -3rem;
  top: 17.5rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group .obj {
    width: 4.4rem;
    top: 145.4rem;
    left: 5.333333vw;
  }
}
.p-styling06 .p-styling__group01 {
  z-index: 5;
}
.p-styling06 .p-styling__group01::before {
  position: absolute;
  content: "";
  background: #CDEBD0;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 91.7rem;
  right: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group01::before {
    top: 178rem;
    right: auto;
    left: -5vw;
    height: 42.4rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}
.p-styling06 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling06 .p-styling__group02 {
  position: relative;
  width: 45.2rem;
  margin-top: -29rem;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group02 {
    margin-top: 0;
    width: 100%;
  }
}
.p-styling06 .p-styling__group02::before {
  position: absolute;
  content: "";
  background: #CDEBD0;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(65rem + 10% + 7rem);
  height: 50.7rem;
  left: -20rem;
  top: 45rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group02::before {
    right: -5vw;
    left: auto;
    height: 82.6rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
    z-index: -1 !important;
  }
}
.p-styling06 .p-styling__group02.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling06 .p-styling__group__sub_r {
  margin-top: 49.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling06 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: calc(105% - 50.4rem);
    width: 50.4rem;
  }
}
.p-styling06 .p-styling__group__sub_r .c-credit {
  position: relative;
  margin-inline: auto;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group__sub_r .c-credit {
    margin-top: 100rem;
  }
}
.p-styling06 .p-styling__group__sub_l {
  margin-top: 9.5rem;
  width: 45.2rem;
  left: 7rem;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group__sub_l {
    position: relative;
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group__sub_l .p-styling__imageWrap {
    position: relative;
    width: 53.8rem;
    left: calc(-100% + 57.8rem);
  }
}
.p-styling06 .p-styling__group__sub_l h3 {
  width: 9.8rem;
  right: -12.6rem;
  top: 5.7rem;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-styling__group__sub_l h3 {
    width: 11.2rem;
    right: 3rem;
  }
}
.p-styling06 .p-other {
  position: relative;
}
.p-styling06 .p-other__contents {
  width: 57.9rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-styling06 .p-other__contents {
    width: 100%;
  }
}
.p-styling07 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #B9CCE8;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 128rem;
  right: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
@media screen and (max-width: 767px) {
  .p-styling07 .p-styling__group::before {
    top: 200rem;
    right: -5vw;
    left: auto;
    height: 79rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
.p-styling07 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling07 .p-styling__group .c-credit {
  position: relative;
}
.p-styling07 .p-styling__group .obj {
  right: -3rem;
  top: 7.3rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling07 .p-styling__group .obj {
    top: 158.6rem;
    right: 1rem;
    width: 4.8rem;
  }
}
.p-styling07 .p-styling__group__sub_r {
  margin-top: 49.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling07 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling07 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: calc(-102% + 60.4rem);
    width: 60.4rem;
  }
}
.p-styling07 .p-styling__group__sub_l {
  margin-top: 9.5rem;
  width: 45.2rem;
  left: 7rem;
}
.p-styling07 .p-styling__group__sub_l h3 {
  width: 9.8rem;
  right: -12.6rem;
  top: 5.7rem;
}
.p-styling07 .p-other {
  position: relative;
}
.p-styling07 .p-other__contents {
  width: 60rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-styling07 .p-other__contents {
    position: relative;
    width: 102%;
    left: -1%;
  }
}
.p-styling08 .p-styling__group::before {
  position: absolute;
  content: "";
  background: #E5CADA;
  opacity: 0.5;
  transition: 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  transition-delay: 0.5s;
  width: calc(109.2rem + 10%);
  height: 128rem;
  left: -20rem;
  top: 15rem;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
@media screen and (max-width: 767px) {
  .p-styling08 .p-styling__group::before {
    top: 202.4rem;
    right: auto;
    left: -5vw;
    height: 69.4rem;
    width: 32.6rem;
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
}
.p-styling08 .p-styling__group.is-active::before {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.p-styling08 .p-styling__group .c-credit {
  position: relative;
}
.p-styling08 .p-styling__group .obj {
  left: -3rem;
  top: 30rem;
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .p-styling08 .p-styling__group .obj {
    width: 5.2rem;
    top: 210.4rem;
    left: 5vw;
  }
}
.p-styling08 .p-styling__group__sub_r {
  margin-top: 49.4rem;
}
@media screen and (max-width: 767px) {
  .p-styling08 .p-styling__group__sub_r {
    margin-top: 8rem;
  }
  .p-styling08 .p-styling__group__sub_r .p-styling__imageWrap {
    position: relative;
    left: calc(106% - 50.4rem);
    width: 50.4rem;
  }
}
.p-styling08 .p-styling__group__sub_r h3 {
  position: absolute;
  width: 9.8rem;
  right: -3rem;
  top: 22rem;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .p-styling08 .p-styling__group__sub_r h3 {
    right: auto;
    left: 0;
    width: 11.6rem;
    top: 4rem;
  }
}
.p-styling08 .p-other {
  position: relative;
}
.p-styling08 .p-other__contents {
  width: 60rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-styling08 .p-other__contents {
    position: relative;
    width: 104%;
    left: -2%;
  }
}
.p-styling__imageWrap.is-active .p-styling__image img {
  opacity: 1;
}
.p-styling__imageWrap .p-styling__images {
  position: relative;
}
.p-styling__imageWrap .p-styling__image {
  overflow: hidden;
  transition: opacity 0.6s;
  background: #fff;
}
.p-styling__imageWrap .p-styling__image:hover {
  opacity: 0.7;
}
.p-styling__imageWrap .p-styling__image img {
  opacity: 0;
  transition: transform 1.3s;
}
.p-styling__imageWrap .p-styling__image .p-styling__modelInfo strong {
  font-weight: 500;
}
.p-styling__subTitle {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.65;
  margin-top: 3rem;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .p-styling__subTitle {
    font-size: 4rem;
    margin-top: -2.3333vw;
  }
}
.p-styling__subTitle span.default {
  position: relative;
  display: inline-block;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 1.1s;
}
.p-styling__subTitle span.default .mask {
  position: absolute;
  left: 0;
  top: 0;
  color: #E9DBAC;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.8s;
}
.p-styling__subTitle.is-active span.default {
  position: relative;
  display: inline-block;
  color: #fff;
}
.p-styling__subTitle.is-active span.default .mask {
  position: absolute;
  left: 0;
  top: 0;
  color: #E9DBAC;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.p-styling__description {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 1.9285714286;
}
@media screen and (max-width: 767px) {
  .p-styling__description {
    font-size: 2.4rem;
    line-height: 1.72;
  }
}
.p-styling__detailWrap {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-styling__detailWrap {
    width: 46.5rem;
  }
}
.p-styling__detailWrap.is-active .p-styling__no .txt {
  clip-path: inset(0 0 0 0);
}
.p-styling__detailWrap.is-active .p-styling__no .no {
  opacity: 1;
}
.p-styling__button {
  margin-top: 4.8rem;
  margin-inline: auto;
  margin-top: 10rem;
}
@media screen and (min-width: 768px) {
  .p-styling__button {
    width: 34.5rem;
  }
}
@media screen and (max-width: 767px) {
  .p-styling__button {
    margin-top: 12vw;
  }
}
.p-styling__buttonInner {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.p-styling__buttonInner:hover {
  opacity: 0.8;
}

/*------------------------------------------

banner

-------------------------------------------*/
.f-banner {
  margin-top: 12rem;
}
@media screen and (max-width: 767px) {
  .f-banner {
    margin-top: 5rem;
  }
}
.f-banner .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.6rem;
  margin-inline: auto;
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .f-banner .btn {
    margin-top: 8rem;
    width: 48rem;
  }
}
.f-banner .btn a {
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
}
.f-banner .btn a:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */